{% extends 'main/base.html' %}


{% block content %}

<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>
                {{sp.name}}
            </h2>
        </div>
        <div class="card" style="width:900px">
            <img class="card-img-top" src='/media/{{sp.image}}' alt="Card image" style="width:100%">
        <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <!-- <h3 class="text-center">
                        {{ sp.name }} <br>
                        {{sp.id}}
                </h3> -->
                <h3>About Us: {{sp.about}}</h3>
                <h5>Address:{{ sp.location }}</h5>
                <h5>Pan No: {{ sp.panno }}</h5>
                <h5>Contact: {{ sp.contactno }}</h5>
                <h5>Rating: {{ sp.averageRating }}/10</h5>
            </div>
        </div>
    </div>
    <div class="card-footer d-flex" id="help" >
        <a href="{% url 'main:editsp' sp.id %}" class="btn btn-warning">Edit</a> 
        <a href="{% url 'main:deletesp' sp.id %}" class="btn btn-danger">Delete</a>  
    </div>
</div>
{% endblock content %}
