{% extends 'main/base.html' %}
{% load static %}
<!-- {% static "images" as baseUrl %} -->
{% block content %}

<div class="container">
    <br>
    <div class="card" id="dropon">
        <div class="card-body">
            <div class="row">
                
                {% for sps in sp %}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body" id="round">
                                <img src='/media/{{sps.image}}' alt="" class="image-fluid"  width="150" height="150">
                                <h3 class="text-left">{{sps.name}}</h3>
                                    <a href="{%url 'main:detail' sps.id%}">Details</a>
                            </div>

                        </div>

                    </div>
                    
                {% endfor %}
            </div>
        </div>

    </div>


</div>



{% endblock content %}
